<!-- Toolbar -->
<div class="toolbar container" role="banner">
  <div class="col">
    Felix Wilhelmy
  </div>

  <div class="col-auto navigation">
    <button mat-button (click)="scroll(education)">education</button>
    <button mat-button (click)="scroll(work)">work</button>
    <button mat-button (click)="scroll(projects)">projects</button>
    <button mat-button (click)="scroll(knowledge)">knowledge</button>
    <button mat-button (click)="scroll(languages)">languages</button>
  </div>

  <div class="col language">
    <mat-button-toggle-group [(ngModel)]="language">
      <mat-button-toggle value="EN">EN</mat-button-toggle>
      <mat-button-toggle value="FR">FR</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="content" role="main">

  <div class="header">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div> Name : {{resume.name}} </div>
          <div> linkedin : <a href="https://www.linkedin.com/in{{resume.linkedin}}" target="_blank">{{resume.linkedin}}</a> </div>
          <div> Email : {{resume.email}} </div>
          <div> Phone : {{resume.phone}} </div>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  
  <section class="education" #education>
    <div class="section-title">
      <h2>Education</h2>
    </div>

    <div class="section-content">
    <div *ngFor="let education of resume.education">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{education.title}}</mat-card-title>
          <mat-card-subtitle>{{education.school}} - {{education.date}} - {{education.location}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  </section>
  
  <section class="work" #work>
    <div class="section-title">
      <h2>Work</h2>
    </div>
    
    <div class="section-content">
      <div *ngFor="let work of resume.work">
        <h4>
          {{work.type}}
        </h4>
        <div *ngFor="let experiance of work.experiances">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{experiance.title}} {{experiance.internship?"(Internship)":""}}</mat-card-title>
              <mat-card-subtitle>{{experiance.employer}} - {{experiance.date}} - {{experiance.location}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let description of experiance.description">
                <div>
                  - {{description}}
                </div>
              </div>
              <div *ngFor="let achievement of experiance.achievements">
                <div>
                  - {{achievement}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  
  <section class="projects" #projects>
    <div class="section-title">
      <h2>Project</h2>
    </div>

    <div class="section-content">
    <div *ngFor="let project of resume.projects">
      <h4>
        {{project.type}}
      </h4>
      <div class="projects" *ngFor="let experiance of project.experiances">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{experiance.title}}</mat-card-title>
            <mat-card-subtitle>{{experiance.date}} - {{experiance.related}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let description of experiance.description">
              <div>
                {{description}}
              </div>
            </div>
            <div *ngFor="let achievement of experiance.achievements">
              <div>
                {{achievement}}
              </div>
            </div>
            <div *ngIf="experiance.codepen">
              THIS IS A DEMO
              <!-- <iframe height="275" style="width: 100%;" scrolling="no" title="Gravity Simulator V1" src="TODO CODEPEN URL" frameborder="no" allowtransparency="true" allowfullscreen="true"></iframe> -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  </section>
  
  <section class="knowledge" #knowledge>
    <div class="section-title">
      <h2>knowledge</h2>
    </div>

    <div class="section-content">
    <div *ngFor="let knowledge of resume.knowledge">
      <h4>
        {{knowledge.type}}
      </h4>
      <mat-card>
        <mat-card-content>
          <div *ngFor="let skill of knowledge.skills">
            <div>
              {{skill.name}}
            </div>
            <mat-progress-bar value={{skill.level*100}}></mat-progress-bar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </section>
  
  <section class="languages" #languages>
    <div class="section-title">
      <h2>Languages</h2>
    </div>

    <div class="section-content">
    <mat-card>
      <mat-card-content>
        <div *ngFor="let language of resume.languages">
          <div>
            {{language.name}}
          </div>
          <div>
            {{language.description}}
          </div>
          <mat-progress-bar value={{language.level*100}}></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  </section>
</div>