mat-card {
  margin-bottom: 50px;
}
.language {
  display: flex;
  flex-direction: row-reverse;
}

.section-title {
  display: block;
  border: 1px solid silver;
  border-left: 0;
  border-right: 0;
  background: linear-gradient(#eee, #fff);
  color: #555;
  margin: 65px 0;
}

.section-content {
  margin: 0 100px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-device-width: 480px) {
  .section-content {
    display: contents;
  }
  .navigation {
    visibility: hidden;
    width: 0;
  }
}

.main {
  width: 100%;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 15px;
    text-align: center;
  }

  p {
    margin: 0;
  }

  .toolbar {
    width: 100%;
    max-width: 100%;
    height: 10%;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }